/include/ "system-conf.dtsi"
/ {
	axi {
		can@ff060000 {
			status = "okay";
		};
		pcie@fd0e0000 {
			status = "okay";
		};
		smmu@fd800000 {
			status = "okay";
		};
		
		usb1@ff9e0000 {
			/delete-node/ usb@fe300000;
		};
		
		/delete-node/ usb1@ff9e0000;
	};
};
