/include/ "system-conf.dtsi"
/ {
	aliases {

	};
	
	axi {
		/delete-node/ perf-monitor@ffa00000;
		/delete-node/ perf-monitor@fd0b0000;
		/delete-node/ perf-monitor@ffa10000;
		/delete-node/ perf-monitor@fd490000;
	};
};
